{% extends "base.html" %}

    {% block content %}

    <div class="desc">
        <p class="pindex">
            <strong> Muraoka Asset Management</strong> is a company focused in the analysis and management of assets, acting mainly
            at south american stock markets. The company focus at value investing and growth investing, targeting famous comapanies
            across the continent. Since<strong> 2009 </strong>we aim to bring value to our investors and target their financial 
            freedom. Our performance is one of the most reliables of the entire market.
        </p>
    </div>

    <div class="desc">
        <p class="pindex">
            Our team is composed by the CEO Gustavo Muraoka and his brother, intern and head of analysis dpt. Victor Rafael Muraoka.
            Gstavo Muraoka is graduated at UNIFESP, specilized at biology and computer science. He is also Master in Economics, graduated
            at Youtube University.
        </p>
    </div>



    {% endblock %}